#!/bin/bash

# =============================
# FILL IN THESE -->
export YOUR_NAME="<enter your first name here>"

export SP_APPID="<service principal app ID>"
export SP_PASSWORD="<service principal password>"
export SP_TENANT="<tenant ID>"
export SP_SUBSCRIPTION="<subscription ID>"
# <--
# =============================

# =============================
# These will be filled a little later, leave at initial setup.
export GITHUB_CLIENTID="<github client ID for authorization server>"
export GITHUB_CLIENTSECRET="<github client secret for authorization server>"

export PORTAL_AUTH_GITHUB_CLIENTID="<github client ID for portal login>"
export PORTAL_AUTH_GITHUB_CLIENTSECRET="<github client secret for portal login>"
# =============================


# These values will only be valid for May 17th, if the workshop
# should be repeated, we need other values here
export DNS_ZONE="k8s.donmartin76.com"
export DNS_RESOURCE_GROUP="k8s-dns"

# Derived values
export PORTAL_NETWORK_PORTALHOST="portal.${YOUR_NAME}.${DNS_ZONE}"
export PORTAL_NETWORK_APIHOST="api.${YOUR_NAME}.${DNS_ZONE}"
export APP_HOST="notes.${YOUR_NAME}.${DNS_ZONE}"
